.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/* ===================== Start Common components  ============ */





@media screen and (min-width:428px) {
    .container {
        width: 428px;
    }
}

@media screen and (min-width:768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width:768px) {
    .active-link::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;

        display: block;
        width: 100%;
        height: 4px;

        background-color: var(--ocean);
        border-radius: 2px;

    }

    .menu-link {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}


@media (min-width:1158px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}


.title {
    margin-bottom: 8px;
    text-align: center;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}

@media (min-width:768px) {
    .title {
        margin-bottom: 8px;
    }
}

@media (min-width:1158px) {
    .title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

.subtitle,
.description {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--slate);
}

@media (min-width:1158px) {

    .subtitle,
    .description {
        font-weight: normal;
    }
}

.section-title {
    text-align: center;
    margin-bottom: 72px;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);

}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris);
    color: var(--cloud);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-link:hover,
.social-link:focus {
    background-color: var(--ocean);
}


.social-icon {
    fill: currentColor;
}


/* ===================== End Common components  ============= */

/* ====================== Start Header =======================*/
.header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width:767px) {
    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}



.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width:768px) {
    .logo {
        margin-right: 120px;
    }
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

@media screen and (max-width:768px) {
    .menu-item:not(:last-child) {
        margin-bottom: 40px;
    }
}



.menu-link {
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--ocean);
}

.page-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:768px) and (max-width:1157px) {
    .contacts {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--slate);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--ocean);
}

@media screen and (min-width:1158px) {
    .contacts {
        display: flex;
        gap: 40px
    }

    .contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/*





 */

/* ====================== End Header =======================*/

/* ====================== Start Hero ===================== */
.hero {
    padding: 112px 54px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--navy-blue);
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero {
    padding: 188px 0;
    max-width: 1440px;
}

.hero-title {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    text-align: center;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--white);

}

@media (min-width: 768px) {
    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }
}

@media (min-width: 1158px) {
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 48px;
    }
}



.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;

    background-color: var(--iris);
    color: var(--white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* ====================== End Hero ===================== */


/* =====================  Start Advantages  ================= */
@media(max-width:767px) {
    .advantages-item:not(:last-child) {
        margin-bottom: 72px;
    }

}

.advantages-image {
    display: none;
}

@media (min-width:768px) {
    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .advantages-item {
        width: calc((100% - 24px)/2);
    }
}

@media (min-width:1158px) {
    .advantages-list {
        gap: 24px;
    }

    .advantages-item {
        width: calc((100% - 72px)/4);
    }

    .advantages-image {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
        background-color: var(--cloud);
    }
}


/* =======================  End Advantages  ================= */



/* ======================= Start Work  ======================= */

@media (max-width:1157px) {
    .work {
        display: none;
    }
}

@media (min-width:1158px) {
    .work {
        padding-top: 0;
    }

    .work-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px
    }

    .work-item {
        width: calc((100% - 48px)/3);
    }

}






/* ======================= End  Work  ======================= */

/* ====================== Start Team  ======================== */
.team {
    background-color: var(--cloud);
}

.team-item {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name {
    text-align: center;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

}

.team-content {
    padding: 32px 16px;
    text-align: center;
}

.team-position {
    margin-bottom: 8px;
}

.team-position.subtitle {
    font-weight: normal;
}

@media (max-width:767px) {
    .team-item:not(:last-child) {
        margin-bottom: 72px;
    }

    .team-item {
        width: 264px;
        margin-left: auto;
        margin-right: auto;
    }
}



@media (min-width:768px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px;
    }


}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}


/* ====================== End Team  =========================== */

/* ====================== Start Customers  ======================== */
.customers-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 72px 16px;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 88px;

    border-radius: 4px;
    border: 1px solid var(--light-slate);
    color: var(--light-slate);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border: 1px solid var(--ocean);
    color: var(--ocean);
}

.customers-icon {
    fill: currentColor;
}

@media (min-width:768px) {

    .customers-list {
        column-gap: 24px;
        justify-content: center;
    }

    .customers-link {
        width: 168px;
    }
}



/* ====================== End Customers  ======================== */


/* ====================== Start Footer  ====================== */
.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--navy-blue);
}

@media(min-width:768px) {
    .footer {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

@media(min-width:1158px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}



.logo-footer .decor {
    color: var(--cloud);
}

.footer-wrapper {
    text-align: center;
}

.footer-description {
    max-width: 268px;
    margin: 16px auto 72px;
    color: var(--cloud);
    font-weight: normal;
}

.footer-social {
    margin-bottom: 16px;
    color: var(--white);
    text-align: center;
}

.footer-social-list {
    gap: 16px;
    margin-bottom: 72px;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--green);
}

.subscribe-text {
    color: var(--white);
    margin-bottom: 16px;
    font-weight: 500;
    text-align: center;
}

.subscribe-input {
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    width: 398px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white);
    margin-bottom: 16px;
}

.subscribe-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    color: var(--white);
    background-color: var(--iris);

}

.subscribe-icon {
    fill: var(--white);
    margin-left: 16px;
}

.subscribe-button {
    margin-left: auto;
    margin-right: auto;
}

/*







.footer-flex {
    display: flex;
    align-items: baseline;
}












.subscribe-wrapper {
    margin-left: 80px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    gap: 24px;
}



 */

/* ====================== End Footer  ======================== */


/* ======================= Start Portfolio =================== */

/* .portfolio {
    padding-top: 96px;
}

.portfolio-filter {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-filter .button {
    padding: 12px 24px;
    border: 1px solid var(--cornflower);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.portfolio-filter .button:hover,
.portfolio-filter .button:focus {
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item {
    width: calc((100% - 48px)/3);
}

.portfolio-image {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;


    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 40px 32px;
    background-color: var(--iris);
    color: var(--cloud);
    overflow: auto;

    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
    transform: translate(0, 0);
}

.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}



.portfolio-item-content {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: 0;
} */

/* ======================= End Portfolio ====================== */

/* ======================= Start Modal ======================= */

/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;

    background-color: var(--modal-bg);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;

    padding: 72px 24px 24px 24px;

    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;

    border-radius: 4px;
    background-color: var(--dairy);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;


}


.button-close {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: var(--cornflower);
    color: var(--navy-blue);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.button-close:hover,
.button-close:focus {
    border: none;
}

.icon-close {
    fill: currentColor;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}



.modal-text {
    text-align: center;
    margin-bottom: 16px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--navy-blue);
}

.input-text {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: var(--light-slate);
}



.modal-form-part {
    margin-bottom: 8px;
}

.modal-form-part.policy {
    margin-bottom: 24px;
}

.modal-form-part.textarea {
    margin-bottom: 16px;
}

.modal-position-wrapper {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--modal-bg);
    padding: 8px 16px 8px 38px;
    font-size: 12px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover {
    outline: none;
    border-color: var(--iris)
}

.modal-input:focus+.input-img,
.modal-input:hover+.input-img {
    fill: var(--iris)
}



.modal-comment {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;

    line-height: 1.17;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: var(--modal-bg);
    background-color: transparent;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid var(--modal-bg);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));

}

.modal-comment:focus,
.modal-comment:hover {
    outline: none;
    border-color: var(--iris)
}

.input-img {
    fill: var(--navy-blue);
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-policy-check {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate)
}

.form-policy-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    border-radius: 2px;
    border: 1px solid var(--modal-bg);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.accept-policy:checked+.form-policy-check .form-policy-icon {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud)
}

.accept-policy:checked+.form-policy-check .form-policy-icon,
.accept-policy:hover+.form-policy-check .form-policy-icon,
.accept-policy:focus+.form-policy-check .form-policy-icon {
    border-color: var(--iris);
}

.privacy-policy {
    color: var(--iris)
}



.modal-button {
    display: block;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
    background-color: var(--iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */



/* ======================= End  Modal ======================= */

/* ===================== Start  mobile-menu  ================ */






.burger-icon {
    fill: var(--navy-blue);
    stroke: var(--navy-blue);
}

.js-open-menu.menu-toggle {
    position: absolute;
    top: 0px;
    right: 16px;
}

.js-open-menu:hover .burger-icon,
.js-open-menu:focus {
    fill: var(--ocean);
    stroke: var(--ocean);
}

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}





@media screen and (max-width:767px) {
    .menu {
        display: none;
    }

    .contacts {
        display: none;
    }
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 35px 40px 40px;
    background-color: var(--white);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
}




.mobile-menu .menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}

.mobile-menu .active-link {
    color: var(--ocean)
}


.mobile-menu-list {
    margin-bottom: 284px;
}

.contacts-mobile-list .contacts-phone-link {
    display: block;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--iris, #4D5AE5);
}

.contacts-mobile-list .contacts-mail-link {
    display: block;
    margin-bottom: 48px;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.mobile-menu .social-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 328px;
}

.mobile-menu .social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris);
    color: var(--cloud);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-menu .social-link:hover,
.mobile-menu .social-link:focus {
    background-color: var(--ocean);
}


.social-icon {
    fill: currentColor;
}


/* ===================== End  mobile-menu    ================ */