:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --white: #FFFFFF;
    --cloud: #F4F4FD;
    --cornflower: #E7E9FC;
    --light-slate: #8E8F99;
    --green: #31D0AA;
    --modal-bg: rgba(46, 47, 66, 0.40);
    --dairy: #FCFCFC
}